/* navbar section starts here */
.navbar_section_div {
  height: 12vh;
  justify-content: center;
  border-bottom-style: none;
  border-bottom-color: transparent;
  background-color: white;
}
.navbar_parent_div {
  width: 95%;
  display: flex;
  height: 12vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}
.navbar_buttons_div {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.navbar_buttons_div button {
  background-color: transparent;
  border-style: solid;
  border-color: transparent;
}
.navbar_buttons_div h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: small;
}
.navbar_parent_div h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: x-large;
  padding-right: 130px;
}
#search_icon {
  margin-left: 35px;
  color: blueviolet;
}
/* navbar section ends here */

/* hero section starts here */
.hero-section_section_div {
  height: 100vh;
  background-image: url(BG1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero-section_parent_div {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.hero-section_parent_div h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 100;
  width: 50%;
  text-align: center;
}
.hero-section_parent_div p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  margin-top: 30px;
  margin-bottom: 30px;
}
.hero-section_button_div {
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}
.hero-section_button1 {
  background-color: blueviolet;
  border-style: solid;
  border-color: transparent;
  height: 50px;
  width: 200px;
  color: white;
}
.hero-section_button2 {
  background-color: transparent;
  border-style: solid;
  border-color: white;
  height: 50px;
  width: 200px;
  color: white;
}
/* hero section ends here */

/* SEO section starts here */
.SEO-section_section_div {
  height: 70vh;
}
.SEO-section_parent_div {
  width: 95%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
  margin-left: auto;
  margin-right: auto;
}
.SEO-section_parent_div div {
  width: 50%;
}
.SEO-section_parent_div div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.SEO-section_parent_div div p {
  margin-top: 30px;
  margin-bottom: 30px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}
.SEO-section_parent_div div h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: 100;
}
.SEO-section_parent_div div button {
  width: 200px;
  height: 50px;
  border-style: solid;
  border-color: transparent;
  background-color: blueviolet;
  color: white;
}
/* SEO section ends here */

/* porfolio section starts here */
.portfolio-section_section_div {
  height: 70vh;
  background-color: #e7e7e7;
}
.portfolio-section_parent_div {
  width: 95%;
  display: flex;
  gap: 130px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.portfolio-section_parent_div div {
  width: 50%;
}
.portfolio-section_parent_div div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio-section_parent_div div h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: 100;
}
.portfolio-section_parent_div div p {
  margin-top: 30px;
  margin-bottom: 30px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}
.portfolio-section_parent_div div button {
  width: 200px;
  height: 50px;
  border-style: solid;
  border-color: transparent;
  background-color: blueviolet;
  color: white;
}
/* porfolio section ends here */

/* small parallax section starts here */
.small-parallax-section_section_div {
  height: 50vh;
  background-image: url(BG2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.small-parallax-section_parent_div {
  width: 95%;
  justify-content: center;
  text-align: center;
  height: 50vh;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.small-parallax-section_parent_div p {
  width: 75%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
.small-parallax-section_parent_div h1 {
  font-size: 50px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}
.small-parallax-section_parent_div button {
  width: 200px;
  height: 50px;
  border-style: solid;
  border-color: transparent;
  background-color: blueviolet;
  color: white;
}
/* small parallax section ends here */

/* limitlless options section starts here */
.limitless-options-section_section_div {
  height: 800px;
  background-color: #e7e7e7;
}
.limitless-options-section_parent_div {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 800px;
}
.limitless-options-section_parent_div h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: 100;
  padding-top: 60px;
}
.limitless-options-section_parent_div div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.limitless-options-section_parent_div div {
  height: 560px;
  width: 75%;
  padding-top: 30px;
}
.limitless-options-section_parent_div p {
  width: 75%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  padding-top: 30px;
  padding-bottom: 30px;
  color: grey;
}
.limitless-options-section_parent_div button {
  width: 200px;
  height: 50px;
  border-style: solid;
  border-color: transparent;
  color: white;
  background-color: blueviolet;
}
/* limitlless options section ends here */

/* media queries section */
@media (max-width: 834px) {
  .navbar_buttons_div {
    display: none;
  }
  .hero-section_button_div {
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .hero-section_parent_div h1 {
    text-align: center;
    font-size: 35px;
  }
  .hero-section_parent_div {
    align-items: center;
    justify-content: center;
  }
  .hero-section_section_div {
    height: auto;
  }
  .hero-section_parent_div p {
    font-size: small;
    font-weight: 85;
  }
  .SEO-section_parent_div {
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .SEO-section_parent_div div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  .SEO-section_section_div {
    height: auto;
  }
  .SEO-section_parent_div div p {
    font-size: small;
  }
  .SEO-section_parent_div div h2 {
    font-size: large;
  }
  .SEO-section_parent_div div button {
    margin-bottom: 20px;
  }
  .portfolio-section_parent_div div h2 {
    padding-top: 20px;
  }
  .portfolio-section_parent_div {
    flex-wrap: wrap;
    height: auto;
    gap: 30px;
  }
  .portfolio-section_parent_div div {
    width: 100%;
  }
  .portfolio-section_section_div {
    height: auto;
  }
  .portfolio-section_parent_div div h2 {
    font-size: large;
  }
  .portfolio-section_parent_div div p {
    font-size: small;
  }
  .small-parallax-section_parent_div h1 {
    font-size: large;
    font-weight: 100;
  }
  .limitless-options-section_parent_div div {
    width: 100%;
  }
  .limitless-options-section_section_div {
    height: auto;
  }
}
@media (max-width: 480px) {
}
